<%- include('../partials/head', {styles:['cart', 'headerfooter']}) %>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/8e8c8ce4f1.js" crossorigin="anonymous"></script>
    <title>Carrito - El Pelotero</title>
  </head>
  <body>
    
    <%- include('../partials/header') %>

    <main>
        <h1>Mi Carrito</h1>
        <div class="cart-items">
            <div class="cart-items1">
                    <img src="/img/pelota-topper.png" alt="Pelota Retro Topper" class="product-img">
                    <div class="product-details">
                      <h4 class="Titulo"><strong>Pelota Futbol Retro Topper</strong></h4>
                      <div class="quantity">
                        <button class="quantity-btn" data-action="decrease">-</button>
                        <input type="number" value="1" min="1" max="10">
                        <button class="quantity-btn" data-action="increase">+</button>
                      </div>
                      <p class="price">$20.000</p>
                    </div>
                    <div class="quitar">
                      <button class="remove-btn">X</button>
                    </div>
                  </div>
            <div class="cart-items2">
                <img src="/img/pelota-gilbert.jpeg" alt="Pelota Rugby Gilbert" class="product-img">
                <div class="product-details">
                    <h4 class="Titulo">Pelota Rugby Profesional Gilbert</h4>
                 <div class="quantity">
                 <button class="quantity-btn" data-action="decrease">-</button>
                   <input type="number" value="1" min="1" max="10">
               <button class="quantity-btn" data-action="increase">+</button>
              </div>
                  <p class="price">$10.500</p>
                </div>
                <div class="quitar">
                  <button class="remove-btn">X</button>
                </div>
                </div>
        </div>
    </div>
    <div class="cart-total">
        <h2>Total Carrito</h2>
          <div class="subtotal">
                <span>Subtotal:</span>
                <span>$30.500</span>
            </div>
            <div class="shipping">
                <span>Envío:</span>
                <span>$1000</span>
            </div>
            <div class="grand-total">
                <span>Total:</span>
                <span>$31.500</span>
            </div>
        <button class="checkout-button">Finalizar Compra</button>
    </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>