<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href= "/css/product.css"> 
    <link rel="stylesheet" href= "/css/headerfooter.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <div class="menu_icon">
          <i class="fas fa-bars"></i>
        </div>
        <div class="logo_container">
          <a href="/">
            <img class="logo_img" src="/img/logo.png" alt="Logo - El Pelotero" />
          </a>
        </div>
        <section class="search_nav_container">
          <form class="search-bar_desktop" action="">
            <input class="search-bar_desktop_input" type="text" />
            <button class="search-bar_desktop_btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <nav class="main_nav-bar">
            <ul class="main_nav-bar_list">
              <li class="main_nav-bar_item">
                Marcas
                <ul class="main_nav-bar_brand_list">
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Topper</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Adidas</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Dribble</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Wilson</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Nike</a>
                  </li>
                </ul>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Fútbol</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Rugby</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Basket</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Tenis</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Hockey</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Más</a>
              </li>
            </ul>
          </nav>
        </section>
  
        <nav class="user_nav-bar">
          <div class="user_account">
            <a href="/login">
              <i class="fas fa-user acount_icon"></i>
            </a>
          </div>
          <div class="user_likes">
            <a href="#">
              <i class="fas fa-heart likes_icon"></i>
            </a>
          </div>
          <div class="user_cart">
            <a href="/cart">
              <i class="fas fa-shopping-cart cart_icon"></i>
            </a>
          </div>
        </nav>

        <div class="search-bar_mobile_icon">
          <i class="fas fa-search"></i>
        </div>
        <form class="search-bar_mobile" action="">
          <input class="search-bar_mobile_input" type="text" />
          <button class="search-bar_mobile_btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
    </header>
    
    <main class="main-detail">
      <h4>Inicio>Marcas>Topper>Futbol</h4>
      <section class="img-container">
        <section class="detail-section">
          <div>
            <img src="/img/pelota-topper.png" class="product-img" alt="product-img">
            <div class="favourite-icon">
              <i class="far fa-heart fa-3x "></i>
            </div>
            <div class="dots-icon">
              <i class="fas fa-ellipsis-h fa-5x"></i>
            </div>
          </div>
          <div>
            <div class="share-icon">
              <i class="fas fa-share-alt fa-2x"></i>
            </div>
            <div class="title-box">
              
              <p class="title-text">Pelota Topper Retro || Campo"</p>
              <p class="price">$18,999,00</p>
              <p class="card-text">3 cuotas sin interes</p>
              <p class="bottom-text">17u.</p>
            </div>
  
            <div class="counter">  
              <button class="decrease">-</button>
              <span class="value">0</span>
              <button class="increase">+</button>
            </div>
  
            <button class="add-to-cart">AGREGAR AL CARRITO</button>
          </div>
        
        </section>
      </section>
      <hr class="divider">
      <div class="description-box">
        <div class="arrow-up">
          <i class="fas fa-chevron-up fa-2x"></i>
        </div>
        <h2 class="description-title">Descripción</h2>
        <p>Basada en el diseño de la pelota usada en el máximo torneo internacional de fútbol en Argentina en 1978, la pelota Tango Rosario es un ícono. Cosida a mano para una máxima durabilidad y un toque preciso, esta pelota de entrenamiento cumple con los estándares exigidos por la FIFA y tiene una cámara de butilo moldeado por inyección y una superficie de poliuretano.</p>  
      </div>
      
      <hr class="divider">
      <div class="specifications-box">
        <div class="arrow-up">
          <i class="fas fa-chevron-up fa-2x"></i>
        </div>
        <h2 class="description-title">Especificaciones</h2>
        <table class="specifications-table">
          <tbody>
            <tr>
              <td>Genero</td>
              <td>Hombre - Mujer - Unisex</td>
            </tr>
            <tr>
              <td>Edad</td>
              <td>Adulto - Juvenil - Niño</td>
            </tr>
            <tr>
              <td>Marca</td>
              <td>Topper</td>
            </tr>
            <tr>
              <td>Disciplina</td>
              <td>Fútbol</td>
            </tr>
            <tr>
              <td>Color Predominante</td>
              <td>Blanco</td>
            </tr>
            <tr>
              <td>Material</td>
              <td>Cuero Sintético</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>