<%- include('partials/head', {styles:['index', 'headerfooter']}) %>
  <body>
    <%- include('./partials/header') %>
    <main class="main-home">
      <img src="/img/banner.jpg" class="img-banner" alt="banner" />
      <section class="home-section">
        <h2 class="title">PRODUCTOS DESTACADOS</h2>
        <div class="product">
          <article class="article-product">
            <img src="/img/basquet.png" class="img-product" alt="img-product" />
            <div class="description-box">
              <div class="favourite-icon-box">
                <i class="fa-regular fa-heart favourite-icon"></i>
              </div>
              <p class="description-text"><a href="/product">Pelota deportiva marca "El Pelotero"</a></p>
              <p class="price">$12.500,00</p>
              <p class="bottom-text">3 cuotas sin interes</p>
            </div>
          </article>
          <article class="article-product">
            <img src="/img/futbol.png" class="img-product" alt="img-product" />
            <div class="description-box">
              <div class="favourite-icon-box">
                <i class="fa-regular fa-heart favourite-icon"></i>
              </div>
              <p class="description-text"><a href="/product">Pelota deportiva marca "El Pelotero"</a></p>

              <p class="price">$20.000,00</p>
              <p class="bottom-text">3 cuotas sin interes</p>
            </div>
          </article>
          <article class="article-product">
            <img src="/img/rugby.png" class="img-product" alt="img-product" />
            <div class="description-box">
              <div class="favourite-icon-box">
                <i class="fa-regular fa-heart favourite-icon"></i>
              </div>
              <p class="description-text"><a href="/product">Pelota deportiva marca "El Pelotero"</a></p>

              <p class="price">$15.000,00</p>
              <p class="bottom-text">3 cuotas sin interes</p>
            </div>
          </article>
          <article class="article-product">
            <img src="/img/tenis.png" class="img-product" alt="img-product" />
            <div class="description-box">
              <div class="favourite-icon-box">
                <i class="fa-regular fa-heart favourite-icon"></i>
              </div>
              <p class="description-text"><a href="/product">Pelota deportiva marca "El Pelotero"</a></p>

              <p class="price">$5.000,00</p>
              <p class="bottom-text">3 cuotas sin interes</p>
            </div>
          </article>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
