<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Registro | El Peloterio</title>
  </head>
  <body>
    <header>
      <div class="menu_icon">
        <i class="fas fa-bars"></i>
      </div>
      <div class="logo_container">
        <a href="/">
          <img class="logo_img" src="/img/logo.png" alt="Logo - El Pelotero" />
        </a>
      </div>
      <section class="search_nav_container">
        <form class="search-bar_desktop" action="">
          <input class="search-bar_desktop_input" type="text" />
          <button class="search-bar_desktop_btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
        <nav class="main_nav-bar">
          <ul class="main_nav-bar_list">
            <li class="main_nav-bar_item">
              Marcas
              <ul class="main_nav-bar_brand_list">
                <li class="main_nav-bar_brand_item">
                  <a href="#"> Topper</a>
                </li>
                <li class="main_nav-bar_brand_item">
                  <a href="#"> Adidas</a>
                </li>
                <li class="main_nav-bar_brand_item">
                  <a href="#"> Dribble</a>
                </li>
                <li class="main_nav-bar_brand_item">
                  <a href="#"> Wilson</a>
                </li>
                <li class="main_nav-bar_brand_item">
                  <a href="#"> Nike</a>
                </li>
              </ul>
            </li>
            <li class="main_nav-bar_item">
              <a href="#"> Fútbol</a>
            </li>
            <li class="main_nav-bar_item">
              <a href="#"> Rugby</a>
            </li>
            <li class="main_nav-bar_item">
              <a href="#"> Basket</a>
            </li>
            <li class="main_nav-bar_item">
              <a href="#"> Tenis</a>
            </li>
            <li class="main_nav-bar_item">
              <a href="#"> Hockey</a>
            </li>
            <li class="main_nav-bar_item">
              <a href="#"> Más</a>
            </li>
          </ul>
        </nav>
      </section>

      <nav class="user_nav-bar">
        <div class="user_account">
          <a href="/login">
            <i class="fas fa-user acount_icon"></i>
          </a>
        </div>
        <div class="user_likes">
          <a href="#">
            <i class="fas fa-heart likes_icon"></i>
          </a>
        </div>
        <div class="user_cart">
          <a href="/cart">
            <i class="fas fa-shopping-cart cart_icon"></i>
          </a>
        </div>
      </nav>
      <div class="search-bar_mobile_icon">
        <i class="fas fa-search"></i>
      </div>
      <form class="search-bar_mobile" action="">
        <input class="search-bar_mobile_input" type="text" />
        <button class="search-bar_mobile_btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </header>

    <main>
      <form class="register_form" action="/">
        <h1 class="register_title">CREAR CUENTA</h1>

        <div class="register_form_section">
          <label class="register_form_label" for="register_mail">Correo Electrónico:</label>
          <input class="register_form_input" type="email" name="register_mail" id="register_mail" required/>
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="register_password">Contraseña:</label>
          <input class="register_form_input" type="password" name="register_password" id="register_password" required />
        </div>

        <div class="register_form_section">
          <label class="register_form_label" for="register_confirm_password">Confirmar Contraseña:</label>
          <input class="register_form_input" type="password" name="register_confirm_password" id="register_confirm_password" required />
        </div>

        <div class="register_form_section">
          <input class="register_terms_check" type="checkbox" name="register_terms_check" id="register_terms_check" required />
          <label class="register_terms_check_label" for="register_terms_check">Acepto los términos y condiciones</label>
        </div>

        <button class="register_form_btn" type="submit">Registrarme</button>
      </form>
    </main>
    <!-- <footer>

    </footer> -->
  </body>
</html>
