.main-home {
    background: #ececec;
    padding-bottom: 3em;
}

.title-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: black;
    padding: 1em;
}

.add-product {
    background-color: #345cbe;
    height: 30px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 0.5rem;
    margin-bottom: 30px;
}

.search {
    margin-left: 6rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-style: italic;
}

.zero-prod {
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.product {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 5%;
}

.article-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    width: 90%;
    position: relative;
}

.img-product {
    max-width: 85%;
    margin-top: 15px;
}

.description-box {
    padding: 15px;
    width: 100%;
}

.favourite-icon-box {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 30;
}

.favourite-icon-box .favourite-icon {
    font-size: 32px;
    color: rgb(24, 50, 52);
}

.description-text {
    font-size: 16px;
    font-weight: 700;
    color: rgb(24, 50, 52);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.price {
    font-size: 24px;
    font-weight: 800;
    color: rgb(24, 50, 52);
}

.bottom-text {
    font-size: 14px;
    font-weight: 300;
    color: rgb(24, 50, 52);
}

.product-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
}

@media (min-width: 361px) {
    .product {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 769px) {
    .product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    .title-section {
        flex-direction: row;
    }
    .title {
        padding: 0.5em 1em;
    }
    .add-product {
        margin: 0;
    }
}