.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-label {
    display: inline-block;
    font-size: 1.6em;
    margin: 10px 0;
  }
  
  .form-input {
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border-radius: 8px;
    border: none;
    border: solid 1px var(--gray);
    padding: 0 15px;
  }
  
  textarea.form-input {
    min-height: 140px;
    resize: vertical;
    padding: 15px;
  }

  @media (min-width: 769px){
 .containerForm {
    width: 40rem;
    margin: 5rem auto;
    border: solid 0.2rem #345cbe;
    border-radius: 3rem;
    overflow: hidden;
}}

button.buy-now-button {
    border: none;
    border-radius: 1.5rem;
    text-align: center;
    color: #fcfcfc;
    background-color: #345cbe;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
    margin: 1rem 15%;
    width: 70%;
}