body{
    background-color:  #ececec ;
}
.container {
    width: 40rem;
    margin: 5rem auto;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
    background-color: white;
}

.ListTitle{    text-align: center;
    color: #fcfcfc;
    background-color: #345cbe;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 0;
    margin-bottom: 2rem;
    width: 100%;}
.UsersList{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 30px 20px;
    align-items: baseline;
}
