.main-detail {
    width: 95vw;
    margin: auto
}

.detail-home {
    background-color: #fcfcfc;
    ;
}

.product-route {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    color: rgb(24, 50, 52);
    margin-top: 10px;
}

.detail-section {
    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: space-evenly;
    gap: 20px;
    border-bottom: #345cbe 3px solid;
    flex-direction: column;
    padding-bottom: 20px;
}

.img-section {
    width: 100%;
    position: relative;
}

.product-img {
    width: 100%;
}

.favourite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
}
.edit {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    background-color: rgb(52, 92, 190);
    color: white;
    padding: 5px 8px;
    border-radius: 0.5rem;
}

.product-detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    color: rgb(24, 50, 52);
}

.title-box {
    padding: 15px;
}

.share-icon {
    display: flex;
    align-items: center;
}

.title-text {
    font-size: 32px;
    font-weight: 500;
    width: 90%;
    margin: 25px 0;
}

.price {
    font-size: 60px;
    font-weight: 500;
    color: rgb(52, 92, 190);
    width: 90%;
}

.card-text {
    font-size: 24px;
    font-weight: 300;
    width: 90%;
    margin-bottom: 15px;
}

.bottom-text {
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin: 20px;
}

/* Estilo para el contenedor del contador */
.counter {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-right: 5%;
}

/* Estilo para los botones de aumentar y disminuir */
.decrease,
.increase {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6d6d6;
    color: black;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 50%;
}
.value {
    margin: 0 10px;
}

.add-to-cart {
    background-color: rgb(52, 92, 190);
    color: #fff;
    border: none;
    font-size: 1.8rem;
    padding: 1rem 0.4rem;
    cursor: pointer;
    width: 80%;
    border-radius: 0.5rem;
}

.description-box, .specifications-box {
    font-size: 1.2rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.description-box{
    border-bottom: #345cbe 3px solid;
}
.description-title {
    font-size: 2.5rem;
    color: #183234;
    margin-right: 15px;
}
.arrow-up {
    display: flex;
    align-items: center;
}

.description-box p {
    margin-top: 15px;
    width: 100%;
    font-size: 16px;
}

.spec {
    width: 100%; 
    font-size: 17px;
    display: flex;
    padding: 5px;
    border: #ececec 1px solid;
}
.spec-grey {
    background-color: #ececec;
}
.spec-type {
    width: 60%;
}


/* Media Queries */

@media (min-width: 361px) {
}


@media (min-width: 769px) {
    .detail-section{
        flex-direction: row;
    }
    .product-detail {
        width: 50%;
        justify-content: flex-start;
    }
    .img-section {
        width: 40%;
    }
    .counter {
        width: 100%;
    }
    .bottom-text {
        margin: 60px 0 10px 0;
        width: 100%;
    }
    .add-to-cart {
        font-size: 2rem;
        padding: 1rem 0.4rem;
        width: 60%;
        height: 6rem;
        margin-top: 30px;
    }
    .description-title {
        font-size: 3rem;
    }
}