
/* --- Register Css --- */

body {
  background-color: #ececec;
}

.register_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.register_title {
  text-align: center;
  color: #fcfcfc;
  background-color: #345cbe;
  font-size: 3rem;
  font-weight: 400;
  padding: 1rem 0;
  margin-bottom: 2rem;
  width: 100%;
}

.register_form_section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.register_form_section:nth-last-child(2) {
  flex-direction: row;
  align-items: center;
}

.register_form_label,
.register_terms_check_label {
  font-size: 1.5rem;
  color: #183234;
  margin: 0.5rem 0;
}

.register_form_input {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 1rem;
}

.register_terms_check {
  margin: 1rem;
}

.register_form_btn {
  border: none;
  border-radius: 1.5rem;
  text-align: center;
  color: #fcfcfc;
  background-color: #345cbe;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem 0;
  margin: 2rem;
  width: 70%;
  cursor: pointer;
}

.form_input_alert{
  color: #cb0909;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/* --------------------- */
/* --- Media Queries --- */
/* --------------------- */

/* TABLET */
@media (min-width: 361px) {
}

/* DESKTOP */
@media (min-width: 769px) {
  /* --- Register Css Desktop --- */

  .register_form {
    max-width: 40rem;
    margin: 5rem auto;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);
    border-radius: 3rem;
    overflow: hidden;
    background-color: white;
  }
  .register_form_input {
    border: solid 0.1rem #183234;
  }
}
