<footer>
    <div class="footer-section footer-section-fill-width">
      <h4>REDES SOCIALES</h4>
      <ul>
        <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
        <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
        <li><i class="fab fa-twitter"></i><a href="#">Twitter</a></li>
        <li><i class="fab fa-youtube"></i><a href="#">Youtube</a></li>
      </ul>
    </div>
    <div class="footer-section footer-section-fill-width">
      <h4>INFO CONTACTO</h4>
      <ul>
        <li>
          <i class="fas fa-map-marker-alt"></i>
          <p>Direccion 1234</p>
        </li>
        <li>
          <i class="fab fa-whatsapp"></i>
          <p>(123) 123-456789</p>
        </li>
        <li>
          <i class="fas fa-phone-alt"></i>
          <p>(123) 123-456789</p>
        </li>
        <li>
          <i class="fas fa-envelope"></i>
          <p>contacto@correo.com</p>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>MAPA DEL SITIO</h4>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/register">Registrarse</a></li>
        <li><a href="/login">Ingresar</a></li>
        <li><a href="/cart">Carrito</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>AYUDA</h4>
      <ul>
        <li><a href="#">¿Cómo comprar?</a></li>
        <li><a href="#">Tuve un problema</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
      </ul>
    </div>
    <div class="footer-section footer-section-fill-width footer-cr">
      <p><i class="far fa-copyright"></i>Todos los derechos reservados - 2023</p>
    </div>
  </footer>