<header>
    <div class="menu_icon">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo_container">
      <a href="/">
        <img class="logo_img" src="/img/logo.png" alt="Logo - El Pelotero" />
      </a>
    </div>
    <section class="search_nav_container">
      <form class="search-bar_desktop" action="">
        <input class="search-bar_desktop_input" type="text" />
        <button class="search-bar_desktop_btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <nav class="main_nav-bar">
        <ul class="main_nav-bar_list">
          <li class="main_nav-bar_item">
            Marcas
            <ul class="main_nav-bar_brand_list">
              <li class="main_nav-bar_brand_item">
                <a href="#"> Topper</a>
              </li>
              <li class="main_nav-bar_brand_item">
                <a href="#"> Adidas</a>
              </li>
              <li class="main_nav-bar_brand_item">
                <a href="#"> Dribble</a>
              </li>
              <li class="main_nav-bar_brand_item">
                <a href="#"> Wilson</a>
              </li>
              <li class="main_nav-bar_brand_item">
                <a href="#"> Nike</a>
              </li>
            </ul>
          </li>
          <li class="main_nav-bar_item">
            <a href="#"> Fútbol</a>
          </li>
          <li class="main_nav-bar_item">
            <a href="#"> Rugby</a>
          </li>
          <li class="main_nav-bar_item">
            <a href="#"> Basket</a>
          </li>
          <li class="main_nav-bar_item">
            <a href="#"> Tenis</a>
          </li>
          <li class="main_nav-bar_item">
            <a href="#"> Hockey</a>
          </li>
          <li class="main_nav-bar_item">
            <a href="#"> Más</a>
          </li>
        </ul>
      </nav>
    </section>

    <nav class="user_nav-bar">
      <% if (locals.isLogged) { %>
        <div class="user_logout">
            <a href="/logout">
                <i class="fas fa-sign-out-alt logout_icon"></i>
            </a>
        </div>
    <% } else { %>
        <div class="user_account">
            <a href="/users/login">
                <i class="fas fa-user acount_icon"></i>
            </a>
        </div>
    <% } %>
      <div class="user_likes">
        <a href="#">
          <i class="fas fa-heart likes_icon"></i>
        </a>
      </div>
      <div class="user_cart">
        <a href="/cart">
          <i class="fas fa-shopping-cart cart_icon"></i>
        </a>
      </div>
  </nav>
    <div class="search-bar_mobile_icon">
      <i class="fas fa-search"></i>
    </div>
    <form class="search-bar_mobile" action="">
      <input class="search-bar_mobile_input" type="text" />
      <button class="search-bar_mobile_btn" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </header>