<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Ingresar - El Pelotero</title>
</head>
<body>
    <header>
        <div class="menu_icon">
          <i class="fas fa-bars"></i>
        </div>
        <div class="logo_container">
          <a href="/">
            <img class="logo_img" src="/img/logo.png" alt="Logo - El Pelotero" />
          </a>
        </div>
        <section class="search_nav_container">
          <form class="search-bar_desktop" action="">
            <input class="search-bar_desktop_input" type="text" />
            <button class="search-bar_desktop_btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <nav class="main_nav-bar">
            <ul class="main_nav-bar_list">
              <li class="main_nav-bar_item">
                Marcas
                <ul class="main_nav-bar_brand_list">
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Topper</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Adidas</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Dribble</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Wilson</a>
                  </li>
                  <li class="main_nav-bar_brand_item">
                    <a href="#"> Nike</a>
                  </li>
                </ul>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Fútbol</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Rugby</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Basket</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Tenis</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Hockey</a>
              </li>
              <li class="main_nav-bar_item">
                <a href="#"> Más</a>
              </li>
            </ul>
          </nav>
        </section>
        <nav class="user_nav-bar">
          <div class="user_account">
            <a href="/login">
              <i class="fas fa-user acount_icon"></i>
            </a>
          </div>
          <div class="user_likes">
            <a href="#">
              <i class="fas fa-heart likes_icon"></i>
            </a>
          </div>
          <div class="user_cart">
            <a href="/cart">
              <i class="fas fa-shopping-cart cart_icon"></i>
            </a>
          </div>
        </nav>
        <div class="search-bar_mobile_icon">
          <i class="fas fa-search"></i>
        </div>
        <form class="search-bar_mobile" action="">
          <input class="search-bar_mobile_input" type="text" />
          <button class="search-bar_mobile_btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
    </header>
    <main class="main-login">
      <div class="login">
        <h1 class="login-heading">MI CUENTA</h1>
        <form class="login-form" action="/">
          <label class="label-input-box" for="login-email">Correo Electrónico:</label>
          <input class="input-box" type="email" name="login-email" id="login-email" required>
          <label class="label-input-box" for="login-password">Contraseña:</label>
          <input class="input-box" type="password" name="login-password" id="login-password" required>
          <input type="checkbox" name="remember-me" id="remember-me">
          <label id="label-remember-me" for="remember-me">Recordarme</label>
          <button type="submit" class="login-button">Ingresar</button>
          <button type="button" class="login-button"><a class="login-button" href="/register">Registrarme</a> </button>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>