<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Ingresar - El Pelotero</title>
</head>
<body>
  
  <%- include('../partials/header') %>

    <main class="main-login">
      <div class="login">
        <h1 class="login-heading">MI CUENTA</h1>
        <form class="login-form" action="/">
          <label class="label-input-box" for="login-email">Correo Electrónico:</label>
          <input class="input-box" type="email" name="login-email" id="login-email" required>
          <label class="label-input-box" for="login-password">Contraseña:</label>
          <input class="input-box" type="password" name="login-password" id="login-password" required>
          <input type="checkbox" name="remember-me" id="remember-me">
          <label id="label-remember-me" for="remember-me">Recordarme</label>
          <button type="submit" class="login-button">Ingresar</button>
          <button type="button" class="login-button"><a class="login-button" href="/register">Registrarme</a> </button>
        </form>
      </div>
    </main>
    <footer>
      <div class="footer-section footer-section-fill-width">
        <h4>REDES SOCIALES</h4>
        <ul>
          <li><i class="fab fa-facebook"></i><a href="#">Facebook</a></li>
          <li><i class="fab fa-instagram"></i><a href="#">Instagram</a></li>
          <li><i class="fab fa-twitter"></i><a href="#">Twitter</a></li>
          <li><i class="fab fa-youtube"></i><a href="#">Youtube</a></li>
        </ul>
      </div>
      <div class="footer-section footer-section-fill-width">
        <h4>INFO CONTACTO</h4>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i><p>Direccion 1234</p></li>
          <li><i class="fab fa-whatsapp"></i><p>(123) 123-456789</p></li>
          <li><i class="fas fa-phone-alt"></i><p>(123) 123-456789</p></li>
          <li><i class="fas fa-envelope"></i><p>contacto@correo.com</p></li>         
        </ul>
      </div>
      <div class="footer-section">
        <h4>MAPA DEL SITIO</h4>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/register">Registrarse</a></li>
          <li><a href="/login">Ingresar</a></li>
          <li><a href="/cart">Carrito</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>AYUDA</h4>
        <ul>
          <li><a href="#">¿Cómo comprar?</a></li>
          <li><a href="#">Tuve un problema</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>         
        </ul>
      </div>
      <div class="footer-section footer-section-fill-width footer-cr">
        <p><i class="far fa-copyright"></i>Todos los derechos reservados - 2023</p>
      </div>
    </footer>
</body>
</html>