<%- include('../partials/head', {styles:['login', 'headerfooter'], title: 'Ingresar'}) %>

<body>
  
  <%- include('../partials/header') %>

    <main class="main-login">
      <div class="login">
        <h1 class="login-heading">MI CUENTA</h1>
        <form class="login-form" action="/">
          <label class="label-input-box" for="login-email">Correo Electrónico:</label>
          <input class="input-box" type="email" name="login-email" id="login-email" required>
          <label class="label-input-box" for="login-password">Contraseña:</label>
          <input class="input-box" type="password" name="login-password" id="login-password" required>
          <input type="checkbox" name="remember-me" id="remember-me">
          <label id="label-remember-me" for="remember-me">Recordarme</label>
          <button type="submit" class="login-button">Ingresar</button>
          <a href="/register" class="register">Registrarme</a>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>